* {
    margin: 0; 
    padding: 0;
}


.MK11 {
    background-color: rgb(138, 125, 14);

    color: rgb(255, 255, 255);

    font-size: 100px;
}
   
  .MK1111 {
    background-color: rgb(124, 113, 10);

    color: rgb(255, 255, 255);

    font-size: 50px;
  }  
